* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
	background: url(back.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.logo {
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.logo img {
	border-radius: 100%;
	text-align: center;
	width: 150px;
	height: 150px;
	padding: 10px;
}

.Box {
	position: relative;
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
	background: #060c21;
	transition: 0.5s;
}

.Box:hover {
	height: 430px;
}

.Box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: hidden;
}

.Box .imgBx img {
	max-width: 100%;
	opacity: 0.1;
	transition: 0.5s;
}

.Box:hover .imgBx img {
	opacity: 1;
}

.Box:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}

.Box:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}

.Box:before,
.Box:after {
	background: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
}

.Box:nth-child(2):before,
.Box:nth-child(2):after {
	background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.Box:nth-child(3):before,
.Box:nth-child(3):after {
	background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.Box:nth-child(4):before,
.Box:nth-child(4):after {
	background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.Box .content {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 90px;
	
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	opacity: 0;
	transition: 0.5s;
}

.Box:hover .content {
	opacity: 1;
}

.Box .content h4 span {
	font-size: 14px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 2px;
}

.Box .content a {
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background-size: 400%;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	border: none;
	background-size: 400%;
}

.Box .content a:before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
	background-size: 400%;
	border-radius: 40px;
	filter: blur(20px);
}

.Box .content a:hover {
	animation: animate 8s linear infinite;
}

@keyframes animate {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}